.DS_Store
com.acestream.acestream-dep_149243977414804
Resources/wineprefix/drive_c/users
!Resources/wineprefix/drive_c/users/boone
!Resources/wineprefix/drive_c/users/Public

# lib
libasprintf.dylib
libexslt.dylib
libfreetype.dylib
libgettextlib.dylib
libgettextpo.dylib
libgettextsrc.dylib
libgphoto2.dylib
libgphoto2_port.dylib
libgsm.dylib
libintl.dylib
libjpeg.dylib
liblcms2.dylib
libltdl.dylib
libmpg123.dylib
libpng.dylib
libpng16.dylib
libsane.dylib
libtiff.dylib
libtiffxx.dylib
libusb-1.0.dylib
libusb.dylib
libwine.1.dylib
libwine.dylib
libxml2.dylib
libxslt.dylib

Contents/Resources/Wine.bundle/Contents/Resources/bin/winecpp
Contents/Resources/Wine.bundle/Contents/Resources/bin/wineg++
Contents/Resources/Wine.bundle/Contents/Resources/bin/libpng-config

Contents/Resources/Wine.bundle/Contents/Resources/include/png.h
Contents/Resources/Wine.bundle/Contents/Resources/include/pngconf.h
Contents/Resources/Wine.bundle/Contents/Resources/include/pnglibconf.h
Contents/Resources/Wine.bundle/Contents/Resources/include/gphoto2/gphoto2

Contents/Resources/Wine.bundle/Contents/Resources/lib/sane

# Drive
Contents/Resources/wineprefix/dosdevices/c:

# Framework
Contents/Resources/Winetricks.app/Contents/Frameworks/WBottler.framework/Versions/A/Frameworks/KBActionWindow.framework

Contents/Resources/Wine.bundle/Contents/Frameworks/WBottler.framework
!Contents/Resources/Wine.bundle/Contents/Frameworks/WBottler.framework/Versions/A

Contents/Resources/Wine.bundle/Contents/Frameworks/Sparkle.framework
!Contents/Resources/Wine.bundle/Contents/Frameworks/Sparkle.framework/Versions/A

Contents/Resources/Winetricks.app/Contents/Frameworks/KBActionWindow.framework
!Contents/Resources/Winetricks.app/Contents/Frameworks/KBActionWindow.framework/Versions/A

# Doc
Contents/Resources/Wine.bundle/Contents/Resources/doc
Contents/Resources/Wine.bundle/Contents/Resources/share/doc
Contents/Resources/Wine.bundle/Contents/Resources/share/gtk-doc

# vs code
.vscode
